<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">

    <link href="/css/main.css" rel="stylesheet">
  </head>

  <body>
    <div class="container-narrow">
        <div class="masthead">
            <ul class="nav nav-pills pull-right">
                <li class="active"><a href="#about">{{ 'about' | trans }}</a></li>
                <li><a href="#support-status">Support status</a></li>
                <li><a href="#download">Download</a></li>
                <li><a href="#examples">Examples</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Language <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        {% for locale in ['et', 'ru', 'en'] %}
                            <li class="{% if locale == currentLocale %}active{% endif %}">
                                <a href="{{ path('homepage', { '_locale' : locale}) }}">{{ locale | trans }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            <h3 class="muted">Banklink</h3>
        </div>

      {% block content %}{% endblock %}

      <div class="footer">
        <p class="pull-right">&copy; <a href="mailto:inoryy@gmail.com">Roman Marintšenko</a></p>
      </div>
    </div>

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>