<form id="{{ bank }}" method="post" action="{{ request.requestUrl }}">
    {% for name, value in request.requestData %}
        <input type="hidden" name="{{ name }}" value="{{ value }}" />
    {% endfor %}
</form>