<table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>{{ 'name' | trans }}</th>
        <th>{{ 'quantity' | trans }}</th>
        <th>{{ 'price_per_item' | trans }}</th>
        <th>{{ 'price_total' | trans }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Guinness Original/Extra Stout</td>
        <td>5</td>
        <td>2 &euro;</td>
        <td>10 &euro;</td>
      </tr>
      <tr>
        <td>1</td>
        <td>The Shawshank Redemption (Blu-Ray Disc)</td>
        <td>1</td>
        <td>15 &euro;</td>
        <td>15 &euro;</td>
      </tr>
    </tbody>
</table>
<div class="pull-right"><strong>Total</strong>: 25 &euro;</div>